{% extends 'DW/main.html' %}

{% block content %}

    <section class="apoyo">
        <img style="grid-column: 1/5; width: 100%; height: 300px;" src="/static/images/Curso-HTML.png" alt="Imagen de #">
        <div class="texto-apoyo" style="grid-column: 5/10; background-color: #797878; margin-left: 50px;">
            <h4> Aprende HTML ahora! curso completo GRATIS desde cero </h4>
            <!--<p>Descripción del video</p>-->
            <a target="_blank" href="https://www.youtube.com/watch?v=MJkdaVFHrto&t=125s">
                <button class="cronograma"> Link </button>
            </a>
            <!--<a href="https://www.youtube.com/watch?v=MJkdaVFHrto&t=125s">
                <i class="fab fa-youtube"></i>
            </a>-->
        </div>
    </section>

    <section class="apoyo">
        <div class="texto-apoyo" style="grid-column: 1/5; background-color: #c7f3b2; margin-right: 50px;">
            <h4>Aprende CSS ahora! curso completo GRATIS desde cero</h4>
            <a target="_blank" href="https://www.youtube.com/watch?v=wZniZEbPAzk">
                <button class="cronograma"> Link </button>
            </a>
            <!--<a href="">
                <i class="fab fa-github"></i>
            </a>-->
        </div>
        <img style="grid-column: 5/10; width: 100%; height: 300px;" src="/static/images/Curso-CSS.png" alt="Imagen de #">
    </section>
         
    <section class="apoyo">
        <img style="grid-column: 1/5; width: 100%; height: 300px;" src="/static/images/Curso-django.png" alt="Imagen de #">
        <div class="texto-apoyo" style="grid-column: 5/10; background-color: #8ef38e; margin-left: 50px;">
            <h4> Django (3.0) Crash Course Tutorials </h4>
            <a target="_blank" href="https://www.youtube.com/watch?v=xv_bwpA_aEA&list=PL-51WBLyFTg2vW-_6XBoUpE7vpmoR3ztO">
                <button class="cronograma"> Link </button>
            </a>
            <!--<a href="">
                <i class="fab fa-github"></i>
            </a>-->
        </div>
    </section>

    <!-- <section class="apoyo">
        <div class="texto-apoyo" style="grid-column: 1/5; background-color: #5fd8c4c0;">
            <h4>Titulo del video</h4>
            <a href="#">
                <button class="cronograma"> Link </button>
            </a>
        </div>
        <img style="grid-column: 5/10;" src="/static/images/simbolo2.png" alt="Imagen de #">
    </section> -->
    <!-- <section class="apoyo">
        <div class="texto-apoyo" style="grid-column: 1/5; background-color: #5fd8c4c0;">
            <h4>Titulo del video</h4>
            <a href="#">
                <button class="cronograma"> Link </button>
            </a>
        </div>
        <img style="grid-column: 5/10;" src="/static/images/simbolo2.png" alt="Imagen de #">
    </section> -->

    <div class="footer">
        <a class="footer_button" href="#Inicio_sesiones">
            <button class="cronograma" style="margin-right: 50px; margin-top: 35px;"> Volver al Inicio </button>
        </a>
    </div>


{% endblock %}