  <div class="wrapper">
        <header>
            <nav >
                <div class="logo_ucr_eie">
                    <img src="/static/images/logoUCR.png" alt="Logo UCR: Universidad de Costa Rica">
                    <img src="/static/images/logoEIE.png" alt="Logo EIE: Escuela de Ingeniería Eléctrica">
                </div>

                <div class="title">
                    <h2 class="span1">Taller <span>de</span></h2>
                    <h2 class="span2">Desarrollo Web</h2>
                </div>

                    
                <ul id="Inicio_sesiones">
                    <li><a href="http://127.0.0.1:8000/">Inicio</a></li>
                    <li><a href="http://127.0.0.1:8000/sesiones/">Sesiones</a></li>
                    <li><a href="http://127.0.0.1:8000/apoyo/">Apoyo</a></li>
                </ul>
            </nav>
        </header>


    </div>

    <hr>