  <div class="wrapper">
        <header>
            <div id="Inicio_sesiones"></div>
            <nav class="navbar">
                <a href="#" id="Responsive-logo"><i class="fab fa-github"></i></a>
                <div class="title_logo">
                    <div class="logo_ucr_eie">
                        <img src="/static/images/logoUCR.png" alt="Logo UCR: Universidad de Costa Rica">
                        <img src="/static/images/logoEIE.png" alt="Logo EIE: Escuela de Ingeniería Eléctrica">
                    </div>

                    <div class="title">
                        <h2>Taller <span> de </span></h2>
                        <div class="title1">
                            <h2>Desarrollo Web</h2>
                        </div>
                    </div>

                </div>
                <ul class="menu">
                    <li><a href="https://tcutallerdw.pythonanywhere.com/">Inicio</a></li>
                    <li><a href="https://tcutallerdw.pythonanywhere.com/sesiones/">Sesiones</a></li>
                    <li><a href="https://tcutallerdw.pythonanywhere.com/apoyo/">Apoyo</a></li>
                </ul>
            </nav>
        </header>


    </div>

    <hr>