{% extends 'DW/main.html' %}

{% block content %}
    <section class="header_sesiones">
            <div class="sesiones_texto_header">
                <h1> Apartado de sesiones </h1>
                <h2> Aquí podrás encontrar el material grabado de las sesiones realizadas con su respectiva descripción.<h2>
            </div>
        
            <img src="/static/images/simbolo6.png" alt="simbolo de video">

        <!-- <div class="wave"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 80%; width: 100vw;"><path d="M0.00,49.98 C163.37,150.48 325.90,-24.17 522.29,15.28 L500.00,150.00 L-3.10,152.45 Z" style="stroke: none; fill: #fff;"></path></svg></div> -->   
        </div>
    </section>

    <div class="titulo-wrapper">
        <h2>Material grabado del taller</h2>
        <div class="divider">
            <div class="divider_1"></div>
            <div class="divider_2"></div>
            <div class="divider_3"></div>
        </div>
    </div>

    <section class="videos">

            <div class="video_galeria">
                <div class="video-port">

                    <img src="/static/images/python-django.jpg" alt="logo python django">

                    <div class="video-descripcion">
                        <h4>Introducción al desarrollo web</h4>
                        <p>Clase Introductoria</p>
                        <div class="video-link">
                            <a target="_blank" href="https://youtu.be/MTIrearVMDg">Introducción</a>
                        </div>
                    </div>
                </div>
                <div class="video-port">

                    <img src="/static/images/Clase 2.PNG" alt="logo clase 2">

                    <div class="video-descripcion">
                        <h4>Esqueleto de una página web</h4>
                        <p>Clase 2 - Enrutamiento, vistas y plantillas </p>
                        <div class="video-link">
                            <a target="_blank" href="https://youtu.be/tguuyoHtGHg">Clase 2</a>
                        </div>
                    </div>
                </div>

                <div class="video-port">

                    <img src="/static/images/Clase 2.PNG" alt="logo clase 2">
                    <!--<video width="320" height="240" controls>
                        <source src="/static/media/2096_131.mp4" type="video/mp4">
                    </video>-->
                    <div class="video-descripcion">
                        <h4>Esqueleto de una página web</h4>
                        <p>Clase 2 - Conclusión del uso de plantillas</p>
                        <div class="video-link">
                            <a href="https://youtu.be/pUp9cbPJ_DM">Clase 2</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video_galeria">
                <div class="video-port">

                    <img src="/static/images/Clase 3.PNG" alt="logo clase 3">

                    <div class="video-descripcion">
                        <h4>Archivos estáticos, fotos, css y js</h4>
                        <p>Clase 3 - Introducción a archivos estáticos</p>
                        <div class="video-link">
                            <a target="_blank" href="https://youtu.be/aQFsQZEzjZM">Clase 3</a>
                        </div>
                    </div>
                </div>
                <div class="video-port">

                    <img src="/static/images/Clase 2.PNG" alt="logo python django">

                    <div class="video-descripcion">
                        <h4>Base de datos</h4>
                        <p>Clase 4 - Clases, relaciones "one to many" y "many to many"</p>
                        <div class="video-link">
                            <a target="_blank" href="https://youtu.be/WBgXqGX1Vwg">Clase 4</a>
                        </div>
                    </div>
                </div>

                <div class="video-port">

                    <img src="/static/images/Clase 2.PNG" alt="logo python django">

                    <div class="video-descripcion">
                        <h4>Consulta a la base de datos</h4>
                        <p>Clase 5 - Uso de la información en la base de datos</p>
                        <div class="video-link">
                            <a target="_blank" href="https://youtu.be/RMdtXnsOopg">Clase 5</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="video_galeria">
                <div class="video-port">
    
                    <img src="/static/images/Clase 2.PNG" alt="logo clase 3">
    
                    <div class="video-descripcion">
                        <h4>Cambio del URL dependiendo del usuario</h4>
                        <p>Clase 6 - URL's Dinámicos</p>
                        <div class="video-link">
                            <a target="_blank" href="https://youtu.be/4nZfa7tqXUs">Clase 6</a>
                        </div>
                    </div>
                </div>
                <div class="video-port">
    
                    <img src="/static/images/Clase 2.PNG" alt="logo python django">
    
                    <div class="video-descripcion">
                        <h4>Formularios para selección de productos</h4>
                        <p>Clase 7 - Formulario</p>
                        <div class="video-link">
                            <a target="_blank" href="https://youtu.be/RnDh73tkXOs">Clase 7</a>
                        </div>
                    </div>
                </div>
    
                <div class="video-port">
    
                    <img src="/static/images/Clase 2.PNG" alt="logo python django">
    
                    <div class="video-descripcion">
                        <h4>Acceso o registro de los usuarios</h4>
                        <p>Clase 8 - Login y registro de usuarios</p>
                        <div class="video-link">
                            <a target="_blank" href="https://youtu.be/g2nV23ag8z4">Clase 8</a>
                        </div>
                    </div>
                </div>
            </div>
        
        
    </section>


{% endblock %}