@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courgette', cursive;
    overflow-x: hidden;
}

.apoyo {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 90vw;
    align-items: center;
    margin: 20px auto;
    padding-left: 50px;
    padding-bottom: 50px;
    border: none;
}

.texto-apoyo {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 200px;
    justify-content: space-evenly;
    border-radius: 2px 20px 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    margin-top: 50px;
    margin-bottom:20px;
}

.texto-apoyo h4 {
    text-align: center;
    margin-top: 20px;
    font-size: clamp(15px, 1.5vw, 25px);
}

.apoyo img {
    display: flex;
    margin: 0 auto;
    align-content: center;
    width: 80%; 
    height: 100%;
}

.texto-apoyo i {
    font-size: 5em;
}

.texto-apoyo i:hover {
    color: #fff;
    transition: ease-in 0.4s;
}
.texto-apoyo a {
    color: #8ef38e;
    text-decoration: none;
}

@media (max-width:1125px){
    .apoyo {
        flex-direction: column;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .texto-apoyo {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 120px;
        justify-content: space-evenly;
        border-radius: 2px 20px 2px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
        margin: 10px auto;
        
    }

}