{% extends 'DW/main.html' %}

{% block content %}
    <section class="header_sesiones">
            <div class="sesiones_texto_header">
                <h1> Apartado de sesiones </h1>
                <h2> Aquí podrás encontrar el material grabado de las sesiones realizadas con su respectiva descripción.<h2>
            </div>
        
            <img src="/static/images/simbolo6.png" alt="simbolo de video">

        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C163.37,150.48 325.90,-24.17 522.29,15.28 L500.00,150.00 L-3.10,152.45 Z" style="stroke: none; fill: #fff;"></path></svg></div>   
    </section>
    
    <section class="videos">
        <div class="videos_wrapper">
            <div class="titulo-wrapper">
                <h2>Material grabado del taller</h2>
                <div class="divider">
                    <div class="divider_1"></div>
                    <div class="divider_2"></div>
                    <div class="divider_3"></div>
                </div>
            </div>

            <div class="video_galeria">
                <div class="video-port">
                    
                    <img src="/static/images/python-django.jpg" alt="logo python django">

                    <div class="video-descripcion">
                        <h4>Introducción al desarrollo web</h4>
                        <p>Clase Introductoria</p>
                        <div class="video-link">
                            <a target="_blank" href="https://youtu.be/MTIrearVMDg">Introducción</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="video-port">
                    <video width="320" height="240" controls>
                        <source src="/static/media/bob-esponja-panic.mp4" type="video/mp4">
                    </video>
                    <div class="video-descripcion">
                        <h4>Esqueleto de una página web.</h4>
                        <p>Clase 1 - Enrutamiento, vistas y plantillas </p>
                        <div class="video-link">
                            <a href="">Clase 1</a>
                        </div>
                    </div>
                </div>
                <div class="video-port">
                    <video width="320" height="240" controls>
                        <source src="/static/media/2096_131.mp4" type="video/mp4">
                    </video>
                    <div class="video-descripcion">
                        <h4>Archivos estáticos, fotos, css y js</h4>
                        <p>Clase 2</p>
                        <div class="video-link">
                            <a href="http://"></a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="footer">
        <a class="footer_button" href="#Inicio_sesiones">
            <button class="cronograma" style="margin-right: 50px; margin-top: 35px;"> Volver al Inicio </button>
        </a>
        </div>
    </section>

{% endblock %}